@charset "UTF-8";

/*===========================================================================*/
/* for_wide_screen */
/*===========================================================================*/
@media screen and (min-width:768px) {
  .main-header .logo .logo-lg {
    font-size: 14px;
  }

  #btn_search {
    width: 18em;
  }

  .dc-chart g.row text {
    fill: #000000;
    font-size: 15px;
  }

  #chart_map {
    float: left;
    width: 460px;
  }

  #japan-map,
  #japan-map svg {
    width: 440px;
    height: 450px;
  }

  #world-map {
    width: 440px;
    height: 450px;
    display: none;
  }

  #panel_name {
    width: 235px;
    height: 500px;
    overflow-y: hidden;
  }

  #panel_name #div_name {
    width: 230px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #panel_city {
    width: 205px;
    height: 500px;
    overflow-y: hidden;
  }

  #panel_city #div_city {
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #panel_date {
    width: 1310px;
  }

  #panel_date #div_date {
    width: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #chart_sex {
    width: 158px
  }

  #chart_week {
    width: 355px
  }

  #chart_age {
    width: 514px
  }

  #panel_cond {
    width: 630px;
  }

  #panel_job {
    width: 100%;
  }

  #panel_detail {}

  #panel_ana {
    background-color: #ffffe0;
  }

  .ui-tabs-anchor {
    padding: 0.5em 0.8em !important;
  }

  .dc_panel {
    background-color: #f8f8ff;
    padding: 4px;
    float: left;
    margin: 2px;
    overflow-x: hidden;
    overflow-y: auto;
  }

}

/* for_wide_screen */

/*===========================================================================*/
/* for_small_screen */
/*===========================================================================*/
@media screen and (max-width:768px) {
  .sp_icon {
    font-size: 1em !important;
  }

  .sp_center {
    text-align: center;
  }

  .content {
    padding-left: 2px;
    padding-right: 2px;
  }

  #btn_search {
    width: 6em;
  }

  .dc-chart g.row text {
    fill: #000000;
    font-size: 13px;
  }

  #chart_map {
    float: left;
    width: 100%;
  }

  #japan-map {
    width: 95%;
    height: 360px;
    overflow: hidden;
  }

  #world-map {
    width: 100%;
    height: 360px;
    display: none;
  }

  #panel_name {
    width: 53%;
    height: 200px;
    overflow-y: hidden;
  }

  #panel_name #div_name {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #panel_city {
    width: 43%;
    height: 200px;
    overflow-y: hidden;
  }

  #panel_city #div_city {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #panel_date {
    width: 100%;
  }

  #panel_date #div_date {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #chart_sex {
    width: 138px;
  }

  #chart_week {
    width: 100%;
  }

  #chart_age {
    width: 100%;
  }

  #panel_cond {
    width: 100%;
  }

  #panel_job {
    width: 100%;
  }

  #panel_detail {
    width: 100%;
  }

  #panel_ana {
    background-color: #ffffe0;
    width: 100%;
  }

  .ui-tabs-anchor {
    padding: 0.5em 0.5em !important;
  }

  .dc_panel {
    background-color: #f8f8ff;
    padding: 4px;
    float: left;
    margin: 2px 2px 12px 4px;
    overflow-x: auto;
    overflow-y: auto;
  }

}

/* for_small_screen */

body,
.content-wrapper {
  font-family: "メイリオ", "ヒラギノ角ゴシックW3", "ＭＳ Ｐゴシック", "Osaka", sans-serif;
}

.btn_close {
  float: right;
}

i.fa {
  padding: 3px;
}

.ic_btn {
  font-size: 2em !important;
}

.wopen.diff {
  background: #FF8;
}

.fs12 {
  font-size: 1.2em !important;
}

.fs13 {
  font-size: 1.3em !important;
}

.c1000 a {
  background: #8c0a00 !important;
}

.c500 a {
  background: #ea5432 !important;
}

.c100 a {
  background: #ff781d !important;
}

.c50 a {
  background: #ff9d57 !important;
}

.c10 a {
  background: #ffceab !important;
}

.c1 a {
  background: #f5deb3 !important;
}

.c0 a {
  background: #dadada !important;
}

.container2 {
  background-color: #F0F0F0;
  padding: 10px 20px 10px 20px;
}

#toolbar_togwin {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 4px;
}

.ui-tabs .ui-tabs-panel {
  padding: 0px;
}

#chart_map .ui-widget-header {
  border: 0px solid #FFFFFF;
  background: #F0F0F0;
}

#chart_map .ui-widget-content {
  border: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

h4.hdr {
  color: #EEE;
  background-color: #337ab7;
  /*background-color: #B0B0B0;*/
  padding: 5px 0 5px 15px;
  border-radius: 4px;
}

.hdr_flt {
  /*color: #EEE;*/
  font-weight: bold;
}

.hdr_pref {
  font-weight: bold;
}

.filter,
.filter_txt {
  border: 1px solid #AAA;
  padding: 2px;
  padding-top: 1px;
  background-color: #F8F8F8;
  display: inline-block;
  width: 5em;
  white-space: nowrap;
}

.flt_open_btn {
  font-size: 1.2em !important;
  box-shadow: 0 1px #a2a2a2;
  padding: 0px 1px;
}

.chart-title {
  /*border-left: 4px solid #ec2;*/
  letter-spacing: 2px;
  font-weight: bold;
  color: #525252;
  cursor: move;
}

.dc-chart#chart_world g.row text {
  font-family: "Osaka－等幅", "ＭＳ ゴシック", sans-serif;
}

.dc-chart rect.selected+text {
  font-weight: bold;
  /*fill: red;*/
  text-shadow: 1px 2px 2px #808080;
}

.dc-chart .pie-label {
  fill: #202020;
}

.dc-chart#chart_date2 g.dc-legend-item {
  display: none;
}

.dc-chart g.x text {
  font-size: 12px;
}

.dc-chart g.axis.x text.sel {
  font-weight: bold;
  /*fill: red;*/
  text-shadow: 1px 2px 2px #808080;
}

.ui-draggable-dragging {
  background-color: #ffffe0;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}


#chart_date .filter,
#panel_date .filter_txt {
  width: 10em;
}

.div_cnt_day {
  float: left;
  font-size: 0.9em;
}

.div_cnt_one {
  float: right;
  font-size: 0.9em;
}

.div_total {
  float: right;
  font-size: 0.8em;
}

.div_total_cnt {
  font-weight: bold;
  font-size: 1.8em !important;
}

#chart_age .filter {
  width: 8em;
}

#chart_cond .filter,
#panel_cond .filter_txt,
#chart_job .filter,
#panel_job .filter_txt {
  width: 16em;
}

#chart_cond .axis.x .tick text {
  text-anchor: end;
  transform: rotate(-55deg) translate(-10px, -12px);
}

#chart_job .axis.x .tick text {
  text-anchor: end;
  transform: rotate(-55deg) translate(-10px, -12px);
}

#chart_date_range g.y {
  display: none;
}

image.pl {
  border: 1px solid blue;
  cursor: pointer;
}

.btn_off {
  box-shadow: 0 1px #a2a2a2;
  padding: 0px 1px;
}

.btn_on {
  color: #A0A0A0;
  background-color: blue;
  box-shadow: 0 -1px #a2a2a2;
  padding: 0px 1px;
}

/* jQueryUI ----------------------------------*/

table.ui-datepicker-calendar tbody td.ui-datepicker-week-end a.ui-state-default {
  color: #4040FF;
}

table.ui-datepicker-calendar tbody td:first-child a.ui-state-default {
  color: #FF4040;
  font-weight: bold;
}

table.ui-datepicker-calendar tbody td.holiday a.ui-state-default {
  color: red;
}

.ui-datepicker table {
  /*width: 100%;*/
  font-size: .7em;
  /*border-collapse: collapse;*/
  margin: 0 0 0
}

.ui-tooltip {
  font-family: "メイリオ", "ヒラギノ角ゴシックW3", "ＭＳ Ｐゴシック", "Osaka", sans-serif;
  /*font-size: medium;*/
  color: #D0D0D0;
  background: #202020;
  padding: 10px;
  position: absolute;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  max-width: none;
}

.ui-icon-big,
.fa-icon {
  font-size: 1.5em !important;
}

a[tt_title] {
  cursor: pointer;
}



/* d3 ----------------------------------*/
.d3-tip {
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


path.s1 {
  stroke: #ff0000;
  /*stroke-dasharray: 3,3;*/
}

path.s2 {
  stroke: #ff0000;
  stroke-dasharray: 3, 3;
}

path.s3 {
  stroke: #0000ff;
  /*stroke-dasharray: 3,3;*/
}

path.line {
  stroke-width: 2;
  /*stroke-opacity: 0.5;*/
}

.detail {
  float: left;
  display: none;
  background: #fffacd;
  padding: 4px;
  margin-left: 1px;
  border: 1px solid #999;
  border-radius: 6px;
  color: #333;
  text-align: left;
  z-index: 65535 !important;
}

#tbl_ana {
  float: left;
  margin-right: 10px;
}

#tbl_ana caption {
  color: #202020;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

#tbl_ana th {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #202020;
}

#tbl_ana td {
  background-color: #FFFFFF;
  text-align: center;
  padding: 2px 0px;
  border-bottom: 1px solid #202020;
}

#container2_tbl_pref {
  display: none;
}

#tbl_pref td {
  height: 2em;
}

#tbl_pref {
  width: 100%;
  display: none;
}

#tbl_pref_wrapper input {
  color: #202020;
  font-weight: normal;
}

#tbl_pref_wrapper .tr_h td {
  background-color: #E0E0E0;
  font-weight: bold;
  white-space: nowrap;
}

#tbl_pref_wrapper .tr_h td:nth-child(2),
#tbl_pref_wrapper .tr_h td:nth-child(3) {
  font-weight: normal;
}

table.dataTable thead th div.DataTables_sort_wrapper label * {
  position: relative;
  top: initial;
  margin-top: initial;
  right: initial;
}

.uicm {
  /* ui_sortable_col_move */
  cursor: move;
}

.square {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1px;
  margin-bottom: -1px;
  border: 1px solid #F0F0F0;
}

/**
 * $.ui.autocomplete_ex extends $.ui.autocomplete
 */
.ui-autocomplete.ui-widget-content {
  /*padding: 10px 20px 15px;*/
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: 100000;
}

.ac_ex-cate {
  font-weight: bold;
  /*padding: .2em .4em;*/
  /*margin: .8em 0 .2em;*/
  /*line-height: 1.5;*/
}

.ac_ex-item {
  vertical-align: middle;
  /*line-height: 40px;*/
  /*padding: 5px 10px;*/
}

.ac_ex-item img {
  margin-right: 10px;
}

.ac_ex-item .ac_ex-kwd {
  color: #0000FF;
  font-weight: bold;
}

/* リスト hover 時のカラー */
.ui-menu-item-wrapper.ui-state-active {
  border: 1px solid #4B8519;
  background: #0000FF;
  font-weight: normal;
  color: #ffffff;
}